<!--
<header class="level has-background-info is-mobile">
  <div class="level-left">
    <figure class="image">
    <img class="icon is-medium" src="assets/icons/icon01.png" alt="FlashCard application">
    </figure>
    <p class="is-family-monospace has-text-info">FlashCard</p>
  </div>
  <figure class="level-right image">
      <img class="icon is-medium" src="assets/icons/login.png">
  </figure>
</header>
-->

<nav class="navbar">
  <div class="navbar-brand">
    <p class="is-family-monospace has-text-info is-size-4">FlashCard - let's learn!</p>
  </div>
</nav>