<section>
	<!--<h2>{{ flashCardCat }}</h2>-->
	<div class="table-container">
		<table class="table">
			<tr>
				<td *ngFor="let flashcard of flashCardLists" class="fc-cardholder">
					<article class="card has-text-centered" (click)="openDialog(flashcard.id)">
						<div class="card-image">
						<figure class="image is-4by3">
							<img src="{{flashcard.pic}}" alt="{{flashcard.des}}" />
						</figure>
						</div>
						<header class="card-header">
							<a class="card-header-title">
							{{ flashcard.name }}
							</a>
						</header>
					</article>
				</td>
				<td *ngFor="let item of maxItems" class="fc-cardholder fc-empty-card">
					<article class="card">
					</article>
				</td>
			</tr>
		</table>
		
	</div>
</section>
