.swipe-box {
    display: block;
    width: 100%;
    float: left;
    margin: 0;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.swipe-box img {
    height: 100%; 
    object-fit: cover;
    max-width: 400px;
}