<div class="container">
	<div class="is-size-5 has-text-info has-text-weight-bold">New</div>
	<app-cardset-list type="{{'recent'}}"></app-cardset-list>
	<div class="is-size-5 has-text-info has-text-weight-bold">Most popular</div>
	<app-cardset-list type="{{'fav'}}"></app-cardset-list>
	<div class="is-size-5 has-text-info has-text-weight-bold">School</div>
	<app-cardset-list type="{{'cat'}}" flashCardCat="{{'subject'}}"></app-cardset-list>
	<div class="is-size-5 has-text-info has-text-weight-bold">Fairy Tales</div>
	<app-cardset-list type="{{'cat'}}" flashCardCat="{{'disney'}}"></app-cardset-list>
</div>
<!--  <app-footer></app-footer> -->

