<app-header></app-header>
<div>
	<div class="is-size-5 has-text-info">Recent</div>
	<app-cardset-list type="{{'recent'}}"></app-cardset-list>
	<div class="is-size-5 has-text-info">Favourite</div>
	<app-cardset-list type="{{'fav'}}"></app-cardset-list>
	<div class="is-size-5 has-text-info">School</div>
	<app-cardset-list type="{{'cat'}}" flashCardCat="{{'subject'}}"></app-cardset-list>
	<div class="is-size-5 has-text-info">Fairy Tales</div>
	<app-cardset-list type="{{'cat'}}" flashCardCat="{{'disney'}}"></app-cardset-list>
</div>
<app-footer></app-footer>
