

<div class="content" id="fc-book">
	<div class="" *ngIf="loaded">
		<div class="fc-set-title">
		{{setDetails.name}}
		</div>
		
		<div class="fc-book-page fc-popup">
            <article class="has-text-centered">
                <div class="fc-card-main-content-holder">
	                <figure class="image">
	                    <img src="{{setDetails.pic}}" alt="{{setDetails.des}}" draggable="false">
	                </figure>
                </div>
                
                  <div class="card-content">
					<div class="content" [innerHTML]="setDetails.des"></div>
					<div>List of words:</div>
				    <div class="content">
				      <span *ngFor="let card of setDetails.cards | slice:0:20;">{{card.word}}, </span>
				      <span>etc.</span>
					</div>
				  </div>
				  
				  	<div class="is-centered buttons">
						<a role="button" routerLink="/set/{{setDetails.id}}/learn" class="button is-success">
						    Learn
						</a>
						<a routerLink="/set/{{setDetails.id}}/practice" class="button is-warning">
						    Practice
						</a>
						<a routerLink="/set/{{setDetails.id}}/edit" class="button is-danger">
						    Modify
						</a>
					</div>
  
            </article>
        </div>
	</div>
	
</div>