<nav class="navbar level is-mobile is-fixed-bottom">
  <div class="level-item has-text-centered">
    <a href="/">
      <p class="heading icon is-medium"><img src="assets/icons/home.png" alt="Home"></p>
      <p class="is-size-6">Home</p>
    </a>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading icon is-medium"><img src="assets/icons/lib.png" alt="Library"></p>
      <p class="is-size-6">Your Lexis</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading icon is-medium"><img src="assets/icons/search.png" alt="Search"></p>
      <p class="is-size-6">Search</p>
    </div>
  </div>
</nav>